@font-face {
    font-family: "Inter Medium";
    src: url(./293fd13dbca5a3e450ef.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    overflow-x: hidden;
}
#nav{
    width: 100%;
    height: 105px;
    background-color: #D7FEC8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    z-index: 2;
}

#nav1{
    flex-direction: row;
    display: inline;
    /* background-color: aqua; */
    font-family: "Inter Medium";
    font-size: 4vw;
    color: #0B996E;
    font-weight: 440;
}

#nav > #nav2
{
    /* background-color: blueviolet; */
    display: flex;
    width: 40vw;
    justify-content: center;
    gap: 3vw;
    margin-left: 50px;
}
#nav2 > h2{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    display: inline-block;
    font-family: "Inter Medium";
    font-weight: 200;
    font-size: 1.4vw;
    color: rgba(0, 0, 0, 0.822);
    font-stretch: expanded
}

#nav3{
    /* background-color: aqua; */
    display: flex;
    gap: 3vw;
    align-items: center;
}
#nav3 > i{
    scale: 1.8;
    color: #0b996eed;
}
#nav3 > h2{
    font-family: "Inter Medium";
    font-weight: 200;
    font-size: 1.4vw;
    color: rgba(0, 0, 0, 0.822);
    font-stretch: expanded
}
.signup{
    border: 2px solid #126144;
    border-radius: 18px;
    font-family: "Inter Medium";
    font-size: 1.3vw;
    color:#FFFFFF ;
    background-color: #126144;
    padding: 13px 28px;
    transition: all ease 0.5s;
    cursor: default;

}
.signup:hover{
    background-color: #FFFFFF;
    color: #006A43;
    cursor: pointer;
}

#page-1{
    height: 105vh;
    width: 100%;
    background-color: #D7FEC8;
    border-bottom-right-radius: 180px 180px;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    gap: 1vw;
}
#page-1 > #page-1-l{
    /* background-color: aqua; */
    width: 42%;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-around;
    position: relative;
     bottom: 25px;
}
#page-1-l > h1{
    font-family: "Inter Medium";
    font-size: 3.7vw;
    color: #0B996E;
    font-weight: 580;
    line-height: 55px;
}
#page-1-l > p{
    font-family: "Inter Medium";
    font-size: 1.4vw;
    color: #1f1c19a9;
    font-weight: 50;
    line-height: 20px;
    /* background-color: red; */
}
#page-1 > #page-1-r{
    width: 39%;
    /* background-color: red; */
    height: 370px;
    /* border: 1px solid #0B996E; */
}
#page-1-r > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page-2{
    min-height: 100vh;
    width: 100%;
    background-color: white;
}
#page-2-top{
    width: 100%;
    height: 30vh;
    margin-top: 30px;
    /* background-color: red; */
}
#page-2-top > h1{
    font-family: "Inter Medium";
    font-size: 3.7vw;
    color: #0B996E;
    font-weight: 580;
    line-height: 55px;
    text-align: center;
}
#page-2-top > p{
    font-family: "Inter Medium";
    font-size: 1.4vw;
    color: #1f1c19a9;
    font-weight: 50;
    line-height: 70px;
    text-align: center;
}
#page-2-m{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}

#page-2-mu{
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    gap: 25px;
}#page-2-md{
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    gap: 25px;
}
#page-2-mu > .items{
    width: 40%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    transition: all ease 0.5s;
}
#page-2-md > .items{
    width: 40%;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    transition: all ease 0.5s;
}
#itemcon{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #126144; */
}
#itemcon > h1{
    font-family: "Inter Medium";
    font-size: 1.8vw;
    font-weight: 300;
    padding-bottom: 20px;
}

#itemcon > h3{
    font-family: "Inter Medium";
    font-size: 1.2vw;
    font-weight: 250;
    color: rgba(0, 0, 0, 0.896);
    padding-bottom: 5px;
}
#itemcon > h2{
    font-family: "Inter Medium";
    font-size: 1.4vw;
    font-weight: 100;
    padding-top: 25px;
}
#itemcon > p{
    font-family: "Inter Medium";
    font-size: 1vw;
    font-weight: 50;
    color: rgba(0, 0, 0, 0.765);
}
.items > #imgdiv{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.items > #imgdiv >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#item1a{
    background-color: #DBD9F7;
    cursor: default;
}

#item2a{
    background-color: #FFE7E0;
    cursor: default;
}
#item3a{
    background-color: #FCE2EB;
    cursor: default;
}
#item4a{
    background-color: #DBF4F4;
    cursor: default;
}

#item1a:hover{
    border: 2px solid #6359DE;
    transition: border 0s ;
    cursor: pointer;
}
#item2a:hover{
    border: 2px solid #FF6C3E;
    transition: border 0s ;
    cursor: pointer;
}#item3a:hover{
    border: 2px solid #EB427F;
    transition: border 0s ;
    cursor: pointer;
}#item4a:hover{
    border: 2px solid #1EB9B9;
    transition: border 0s ;
    cursor: pointer;
}

#page-2-m1{
    width: 100%;
    min-height: 80vh;
    /* background-color: red; */
}
#page-2-m1 > #green-div{
    width: 100%;
    height: 72vh;
    background-color: #006A43;
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    position: relative;
}
#green-img{
    width: 400px;
    height: 270px;
    border-radius: 35px;
    position: absolute;
    left: 120px;
    top: -100px;
    background-image: url(https://corp-backend.brevo.com/wp-content/uploads/2023/10/Image-for-BF-ebook-promo-on-homepage_EN.jpg);
    background-position: calc();
    background-size: cover;
}

#green-box{
    width: 55%;
    height: max-content;
    /* background-color: red; */
    color: #FFFFFF;
    font-family:"Inter Medium" ;
}
#green-box > h4{
    font-weight: 50;
    font-size: medium;
}#green-box > h1{
    font-weight: 650;
    font-size: 3vw;
    padding: 25px 0px;
    letter-spacing: 1px;
}
#green-box > h3{
    font-weight: 50;
    font-size: large;
    line-height: 25px;
    padding-bottom: 25px;
}
#green-box > a > button{
        border: 2px solid #126144;
        border-radius: 18px;
        font-family: "Inter Medium";
        font-size: 1.3vw;
        color:#FFFFFF ;
        background-color: #1B1B1B;
        padding: 13px 28px;
        transition: all ease 0.5s;
        cursor: default;
    }
    #green-box> a > button:hover{
        background-color: #FFFFFF;
        color: #1F1F1F;
        cursor: pointer;
    }
    #everyone{
        width: 100%;
        min-height: 90vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
    #eve-left{
        /* background-color: red; */
        width: 40%;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        justify-content: space-between;
    }
    #eve-left > h1{
        font-family: "Inter Medium";
    font-size: 3.7vw;
    color: #0B996E;
    font-weight: 580;
    line-height: 55px;
    }
    #eve-left > div > h3 > .ri-arrow-right-line{
        opacity: 0;
    }
    
    #eve-left > div > h3{
        font-family: "Inter Medium";
        font-size: 1.5vw;
        color: #1b1b1bee;
        font-weight: 650;
        letter-spacing: 1.1px;
        padding-bottom: 20px;
        transition: all ease 0.5s;
        cursor: default;
    }
    #eve-left > div > h3:hover{
        color: #0B996F;
        text-decoration: underline;
       transition: color 0s ;
       cursor: pointer;  
    }
    #customers{
        border: 2px solid #126144;
        border-radius: 18px;
        font-family: "Inter Medium";
        font-size: 1.3vw;
        color:#FFFFFF ;
        background-color: #1B1B1B;
        padding: 13px 28px;
        transition: all ease 0.5s;
        cursor: default;
    }
    #customers:hover{
        background-color: #FFFFFF;
        color: #1F1F1F;
        cursor: pointer;
    }
    #eve-right{
        /* background-color: blue; */
        width: 42%;
        height: 470px;
        position: relative;
    }
    #eve-right > #right-img{
        width: 180px;
        height: 180px;
        border-top-right-radius: 50px ;
        border-bottom-left-radius: 50px ;
        border: 2px solid #0B996F;
        position: absolute;
        left: 30px;
        bottom: 30px;
        z-index: 1;
    }
    #eve-right > #right-img > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 50px ;
        border-bottom-left-radius: 50px ;
    }
    #eve-right > #right-msg{
        width: 380px;
        height: 280px;
        border-top-left-radius: 80px ;
        border-bottom-right-radius: 80px ;
        border: 2px solid #0B996F;
        background-color: #D7FEC8;
        position: absolute;
        right: 5px;
        bottom: 50px;
        display: flex;
        justify-content: center;
    }
    #right-msg > div{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }
    #right-msg > div > h4{
        font-family: "Inter Medium";
        color: #0B996F;
        font-weight: 50;
        font-size: large;
        line-height: 25px;
        padding-bottom: 25px;
        letter-spacing: 0.5px;
    }
    #right-msg > div > #msg-one{
        font-family: "Inter Medium";
        color: black;
        font-weight: 200;
        font-size: 1vw;
        line-height: 25px;
    }
    #right-msg > div > #msg-two{
        font-family: "Inter Medium";
        color: rgba(0, 0, 0, 0.805);
        font-weight: 50;
        font-size: 1vw;
    }
    #blue{
        width: 100%;
        min-height: 155vh;
        padding-bottom: 140px;
        background-color: #6358DE;
        border-top-left-radius:  90px 90px ;
        border-top-right-radius:  90px 90px ;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        position: relative;
    }
    #blue > #blue1{
        width: 70%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        gap: 35px;
    }
    #blue > #blue1 > h1{
        font-family: "Inter Medium";
        color: #FFFFFF;
        font-size: 3vw;
    }
    #blue > #blue1 > h4{
        color: #FFFFFF;
        font-family: "Inter Medium";
        font-size: 1.3vw;
        font-weight: 50;
        text-align: center;
        line-height: 25px;
    }
    #blue > #blue2{
        width: 90%;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        /* background-color: black; */
    }
    #blue > #blue2 > img{
        padding-left: 100px;
        /* background-color: red; */
    }
    #blue > #blue3{
        width: 78%;
        height: 200px;
        background-color: #FFFFFF;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }
    #blue3 > #star{
        width: 85%;
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* background-color: #006A43; */
        margin: auto;
        gap: 20px;
    }
    #blue3 > #star >.star-dett{
        width: 80%;
        height: 130px;
        font-family:"Inter Medium";
        color: #6358DE;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #blue3 > #star >.star-dett > .star-point{
        display: flex;
        flex-direction: row;
        scale: 1.8;
        gap: 3px;
    }
    #blue3 > #star >.star-dett > .star-point > h3{
        font-size: 0.8vw;
        font-weight: 400;
        padding-right: 5px;
        padding-top: 2px;
    }
    .star-heading{
        font-size: 1.3vw;
        font-weight: lighter;
        color: #6459ded6;
        padding-top: 2px;
    }
    #awards{
        width: 100%;
        height: 320px;
        border-top-left-radius:  90px 90px ;
        border-top-right-radius:  90px 90px ;
        background-color: #FFFFFF;
        position: relative;
        bottom: 120px;
        z-index: 1;
    }
    #awards > h1{
        font-family:"Inter Medium";
        text-align: center;
        font-size: 2.8vw;
        font-weight: 600;
        color: #6358DE;
        padding-top: 80px;
        padding-bottom: 45px;
        letter-spacing: 1.5px;
    }
    #awards > div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 35px;
    }
    #green-2{
        width: 100%;
        min-height: 140vh;
        border-top-left-radius:  90px 90px ;
        border-top-right-radius:  90px 90px ;
        background-color: #006A43;
        position: relative;
        bottom: 98px;
        z-index: 1;
        padding-bottom: 100px;
    }
    #green-2-head{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px; 
    }
    #green-2 >#green-2-head > h1{
        font-family: "Inter Medium";
        color: #FFFFFF;
        font-size: 3vw;
        text-align: center;
        padding-top: 30px;
    }
    #green-2 >#green-2-head > h4{
        color: #FFFFFF;
        font-family: "Inter Medium";
        font-size: 1.3vw;
        font-weight: 50;
        text-align: center;
        line-height: 25px;
    }
    #scroller-1{
        width: 100%;
        height: 100px;
        /* background-color: red; */
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        position:absolute ;
        top: 315px;
    }
    #scroller-1::-webkit-scrollbar{
        display: none;
    }
    #scroller-1 > img{
        height: 70px;
        margin-right: 80px;
        overflow-x: auto;
        overflow-y: hidden;
        margin-right: 85px;
        animation-name:scrollbar;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        vertical-align: middle;
    }
    @keyframes scrollbar{
        0%{
            transform: translateX(calc(-100% - 712px));
        }
        100%{
            transform: translateX(0%);
        }
    }  
#scroller-1:hover > img{
    animation-play-state: paused;
}
#green-2 > #scroller-2{
    position: absolute;
    bottom: 310px;
    width: 100%;
    height: 100px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#green-2 > #scroller-2::-webkit-scrollbar{
    display: none;
}
#green-2 > #scroller-2 > img{
    height: 70px;
    margin-right: 80px;
    overflow-x: auto;
    overflow-y: hidden;
    animation-name: scrollbarr;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    vertical-align: middle;
}
@keyframes scrollbarr{
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(calc(-100% - 712px));
    }
}
#scroller-2:hover > img{
    animation-play-state: paused;
}
#green-2 > a > button{
    width: 230px;
    border: 2px solid #126144;
    border-radius: 18px;
    font-family: "Inter Medium";
    font-size: 1.3vw;
    color:#FFFFFF ;
    background-color: #1B1B1B;
    padding: 13px 28px;
    transition: all ease 0.5s;
    position: absolute;
    bottom: 230px;
    left: 50%;
    transform: translate(-50%);
    cursor: default;
}
#green-2 > a > button:hover{
    background-color: #FFFFFF;
    color: #1F1F1F;
    cursor: pointer;
}
#sec-last{
    width: 100%;
        min-height: 52vh;
        border-top-left-radius:  90px 90px ;
        border-top-right-radius:  90px 90px ;
        background-color: #D7FEC8;
        position: relative;
        bottom: 240px;
        z-index: 1;
}
#sec-last >#sec-last-d > h1{
    font-family: "Inter Medium";
    color: #0B996E;
    font-size: 3vw;
    text-align: center;
}
#sec-last >#sec-last-d > h4{
    color: #1B1B1B;
    font-family: "Inter Medium";
    font-size: 1.3vw;
    font-weight: 50;
    text-align: center;
    line-height: 25px;
}
#sec-last > #sec-last-d{
     width: 500px;
    height: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#sec-last >#sec-last-d > a > button{
    border: 2px solid #126144;
    border-radius: 18px;
    font-family: "Inter Medium";
    font-size: 1.3vw;
    color:#FFFFFF ;
    background-color: #1B1B1B;
    padding: 13px 28px;
    transition: all ease 0.5s;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: default;
}
#sec-last >#sec-last-d > a > button:hover{
    background-color: #FFFFFF;
    color: #1F1F1F;
    cursor: pointer;
}
#end{
    margin-top: -240px;
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#end-head{
    width: 90%;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid black;
}
#end-head > #end-logo{
    width: 25%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#end-logo > i {
    scale: 2;
    color: #097555;
    cursor: default;
}
#end-logo > i:hover{
    color: #006a43ac;
    cursor: pointer;
}
#end-mid-head{
    width: 100%;
    height: 65vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#end-mid{
    width: 55%;
    height: 280px;
    /* background-color: #1EB9B9; */
    position: relative;
    transform: translate(62%);
    display: flex;
    flex-direction: row;
}
#end-mid > div{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#end-mid > div > h3{
    font-family: "Inter Medium";
    font-size: 1.2vw;
    font-weight: 50;
    padding-bottom: 25px;
}
#end-mid > div > a > h4{
    font-family: "Inter Medium";
    text-decoration: underline #FFFFFF;
    font-size: 1vw;
    font-weight: 10;
    color: #1b1b1bb6;
    padding-bottom: 25px;
    cursor: default;
}
#end-mid > div > a >h4:hover{
    color: #1b1b1b88;
    text-decoration: underline #1b1b1bb6;
    cursor: pointer;
}

#end-line{
    position: relative;
    width: 90%;
    height: 120px;
    margin: auto;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    border-top: 1px solid black;
}
#end-line > div{
    position: absolute;
    right: 0;
    width: 75%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#end-line >div > h4{
    font-family: "Inter Medium";
    font-size: 1vw;
    font-weight: 10;
    color: #1b1b1bd7;
}
#end-line >div > h4:hover{
    color: #1b1b1b88;
    text-decoration: underline #1b1b1bb6;
    cursor: pointer
}