@media all and (max-width: 600px)
{

#nav{
    width: 100%;
    height: 88px;
    background-color: #D7FEC8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    position: fixed;
    z-index: 2;
}
#nav1{
    flex-direction: row;
    display: inline;
    /* background-color: aqua; */
    font-family: "Inter Medium";
    font-size: 9vw;
    color: #0B996E;
    font-weight: 550;
}
#nav-logo{
    display: block;
    scale: 2;
}
#nav > #nav2{
    display: none;
}
#nav > #nav3{
    display: none;
}
#but-phone{
    width: 70vw;
    border: 2px solid #1B1B1B;
    border-radius: 18px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-family: "Inter Medium";
    font-size: 5vw;
    color:#FFFFFF ;
    background-color: #1B1B1B;
    padding: 13px 28px;
    transition: all ease 0.5s;
    cursor: default;
    margin-top: -5vh;
}
#but-phone:hover{
    background-color: #FFFFFF;
}
#page-1{
    height: 120vh;
    width: 100%;
    background-color: #D7FEC8;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 80px 80px;
    padding-top: 13vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}
#page-1 > #page-1-l{
    /* background-color: aqua; */
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-around;
    position: relative;
     bottom: 2vh;
}
#page-1-l > h1{
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    text-align: center;
    font-family: "Inter Medium";
    font-size: 11vw;
    color: #0B996E;
    font-weight: 580;
    line-height: 45px;
    margin-bottom: -10vh;
}
#page-1-l > p{
    width: 75vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aquamarine; */
    font-family: "Inter Medium";
    font-size: 5vw;
    color: #1f1c19e0;
    font-weight: lighter;
    line-height: 25px;
    /* background-color: red; */
}
#page-1 > #page-1-r{
    width: 85vw;
    /* background-color: red; */
    height: 30vh;
    /* border: 1px solid #0B996E; */
}
#page-1-r > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page-2{
    min-height: 100vh;
    width: 100%;
    background-color: white;
}
#page-2-top{
    width: 100%;
    height: 25vh;
    margin-top: 5vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#page-2-top > h1{
    font-family: "Inter Medium";
    font-size: 11vw;
    color: #0B996E;
    font-weight: 580;
    line-height: 30px;
    text-align: center;
}
#page-2-top > p{
    width: 80vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aquamarine; */
    font-family: "Inter Medium";
    font-size: 5vw;
    color: #1f1c19e0;
    font-weight: lighter;
    line-height: 25px;
}
#page-2-m{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    margin-bottom: 30vh;
    /* background-color: #1B1B1B; */
}
#page-2-mu{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#page-2-md{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#page-2-mu > .items{
    width: 85vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    transition: all ease 0.5s;
    box-sizing: border-box;
    overflow: auto;
}
#page-2-md > .items{
    width: 85vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
    transition: all ease 0.5s;
    box-sizing: border-box;
    overflow: auto;
}
#itemcon{
    width: 78%;
    height: 50%;
    /* background-color: #0B996E; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#itemcon > h1{
    width: 100%;
    /* background-color: red; */
    font-family: "Inter Medium";
    font-size: 6.5vw;
    font-weight: 550;
    text-align: center;
    padding-bottom: 20px;
}

#itemcon > h3{
    font-family: "Inter Medium";
    text-align: center;
    font-size: 4.5vw;
    font-weight: 250;
    color: rgba(0, 0, 0, 0.896);
    padding-bottom: 5px;
}
#itemcon > h2{
    font-family: "Inter Medium";
    font-size: 6vw;
    text-align: center;
    font-weight: 100;
    padding-top: 25px;
}
#itemcon > p{
    display: none;
}
.items > #imgdiv{
    width: 150px;
    height: 150px;
    margin-top: 35px;
    border-radius: 50%;
}
#page-2-m1{
    width: 100%;
    min-height: 100vh;
    /* background-color: red; */
}
#page-2-m1 > #green-div{
    width: 100%;
    height: 115vh;
    background-color: #006A43;
    margin-top: -5%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
#green-img{
    width: 310px;
    height: 230px;
    border-radius: 35px;
    position: absolute;
    left: 15px;
    top: -60px;
    background-image: url(https://corp-backend.brevo.com/wp-content/uploads/2023/10/Image-for-BF-ebook-promo-on-homepage_EN.jpg);
    background-position: center;
    background-size: contain;
}
#green-box{
    margin-top: 25vh;
    width: 100%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    color: #FFFFFF;
    font-family:"Inter Medium" ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#green-box > h4{
    font-weight: 50;
    font-size: medium;
    text-align: center;
}
#green-box > h1{
    /* background-color: #126144; */
    width: 80%;
    font-weight: 650;
    font-size: 10vw;
    text-align: center;
    padding: 25px 0px;
    letter-spacing: 1px;
}
#green-box > h3{
    font-weight: 50;
    font-size: large;
    line-height: 25px;
    padding-bottom: 25px;
    text-align: center;
}
#green-box > a > button{
    width: 75vw;
    border: 2px solid #126144;
    border-radius: 18px;
    font-family: "Inter Medium";
    font-size: 5vw;
    color:#FFFFFF ;
    background-color: #1B1B1B;
    padding: 15px 30px;
    transition: all ease 0.5s;
    cursor: default;
    }
#green-box> a > button:hover{
    background-color: #FFFFFF;
    color: #1F1F1F;
    cursor: pointer;
}
#everyone{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
#eve-left{
    /* background-color: red; */
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#eve-left > h1{
    margin-top: 10vh;
    text-align: center;
    width: 90%;
    /* background-color: red; */
    font-family: "Inter Medium";
    font-size: 11vw;
    color: #0B996E;
    font-weight: 580;
    line-height: 55px;
}
#eve-left > div > h3 > .ri-arrow-right-line{
    opacity: 0;
}

#eve-left > div > h3{
    font-family: "Inter Medium";
    font-size: 1.5vw;
    color: #1b1b1bee;
    font-weight: 650;
    letter-spacing: 1.1px;
    padding-bottom: 20px;
    transition: all ease 0.5s;
    cursor: default;
    display: none;
}
#eve-left > div > h3:hover{
    color: #0B996F;
    text-decoration: underline;
   transition: color 0s ;
   cursor: pointer;  
   display: none;
}
#customers{
    width: 80vw;
    position: absolute;
    bottom: -180px;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #126144;
    border-radius: 18px;
    font-family: "Inter Medium";
    font-size: 5vw;
    color:#FFFFFF ;
    background-color: #1B1B1B;
    padding: 13px 28px;
    transition: all ease 0.5s;
    cursor: default;
}
#customers:hover{
    background-color: #FFFFFF;
    color: #1F1F1F;
    cursor: pointer;
}
#eve-right{
    /* background-color: blue; */
    width: 100%;
    height: 400px;
    position: relative;
    top: -370px;
}
#eve-right > #right-img{
    width: 130px;
    height: 130px;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
    border: 2px solid #0B996F;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0px;
    z-index: 1;
}
#eve-right > #right-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px ;
    border-bottom-left-radius: 20px ;
}
#eve-right > #right-msg{
    width: 300px;
    height: 240px;
    border-top-left-radius: 40px ;
    border-bottom-right-radius: 40px ;
    border: 2px solid #0B996F;
    background-color: #D7FEC8;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}
#right-msg > div{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
#right-msg > div > h4{
    font-family: "Inter Medium";
    color: #0B996F;
    font-weight: 50;
    font-size: large;
    line-height: 25px;
    padding-bottom: 25px;
    letter-spacing: 0.5px;
}
#right-msg > div > #msg-one{
    font-family: "Inter Medium";
    color: black;
    font-weight: 200;
    font-size: small;
    line-height: 25px;
    margin-top: -20px;
}
#right-msg > div > #msg-two{
    font-family: "Inter Medium";
    color: rgba(0, 0, 0, 0.805);
    font-weight: 50;
    font-size: small;
    padding-bottom: 20px;
}
#blue{
    width: 100%;
    min-height: 270vh;
    padding-bottom: 140px;
    background-color: #6358DE;
    border-top-left-radius:  40px 40px ;
    border-top-right-radius:  40px 40px ;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    position: relative;
    bottom: 0;
}
#blue > #blue1{
    width: 95%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 35px;
    /* background-color: red; */
}
#blue > #blue1 > h1{
    width: 90%;
    /* background-color: #0B996E; */
    font-family: "Inter Medium";
    color: #FFFFFF;
    font-size: xx-large;
    text-align: center;
}
#blue > #blue1 > h4{
    width: 100%;
    color: #FFFFFF;
    font-family: "Inter Medium";
    font-size: larger;
    font-weight: 50;
    text-align: center;
    line-height: 25px;
}
#blue > #blue2{
    width: 90%;
    min-height: 120vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -35px;
    /* background-color: black; */
}
#blue > #blue2 > img{
    padding-left: 100px;
    /* background-color: red; */
}
#blue > #blue3{
    width: 82%;
    height: 80vh;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: -70px ;
}
#blue3 > #star{
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: #006A43; */
    margin: auto;
    gap: 20px;
}
#blue3 > #star >.star-dett{
    margin: auto;
    width: 80%;
    height: 130px;
    font-family:"Inter Medium";
    color: #6358DE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#blue3 > #star >.star-dett > .star-point{
    display: flex;
    flex-direction: row;
    scale: 1.8;
    gap: 3px;
}
#blue3 > #star >.star-dett > .star-point > h3{
    font-size: small;
    font-weight: 400;
    padding-right: 5px;
    padding-top: 2px;
}
.star-heading{
    font-size: large;
    font-weight: lighter;
    color: #6459ded6;
    padding-top: 2px;
}
#awards{
    width: 100%;
    min-height: 92vh;
    border-top-left-radius:  35px 35px ;
    border-top-right-radius:  35px 35px ;
    background-color: #FFFFFF;
    position: relative;
    bottom: 120px;
    z-index: 1;
}
#awards > h1{
    font-family:"Inter Medium";
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    color: #6358DE;
    padding-top: 50px;
    padding-bottom: 45px;
    letter-spacing: 1.5px;
}
#awards > div{
    width: 80%;
    /* background-color: #6358DE; */
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    margin: auto;
    gap: 35px;
}
#awards > div > img{
    scale: 1;
}
#center-ele{
    grid-column:  span 2;
    margin: auto;
}
#green-2{
    width: 100%;
    min-height: 120vh;
    border-top-left-radius:  35px 35px ;
    border-top-right-radius:  35px 35px ;
    background-color: #006A43;
    position: relative;
    bottom: 98px;
    z-index: 1;
    padding-bottom: 100px;
}
#green-2-head{
    width: 90%;
    /* background-color: blue; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px; 
}
#green-2 >#green-2-head > h1{
    width: 90%;
    font-family: "Inter Medium";
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: 550;
    text-align: center;
    padding-top: 30px;
    margin: auto;
}
#green-2 >#green-2-head > h4{
    width: 99%;
    /* background-color: red; */
    color: #FFFFFF;
    font-family: "Inter Medium";
    font-size: larger;
    font-weight: lighter;
    font-weight: 50;
    text-align: center;
    margin: auto;
    line-height: 25px;
    margin-top: -30px;
}
#scroller-1{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position:absolute ;
    top: 335px;
}
#scroller-1::-webkit-scrollbar{
    display: none;
}
#scroller-1 > img{
    height: 70px;
    margin-right: 80px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: 85px;
    animation-name:scrollbar;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    vertical-align: middle;
}
@keyframes scrollbar{
    0%{
        transform: translateX(calc(-100% - 712px));
    }
    100%{
        transform: translateX(0%);
    }
}  
#scroller-1:hover > img{
animation-play-state: paused;
}
#green-2 > #scroller-2{
position: absolute;
bottom: 300px;
width: 100%;
height: 100px;
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
}
#green-2 > #scroller-2::-webkit-scrollbar{
display: none;
}
#green-2 > #scroller-2 > img{
height: 70px;
margin-right: 80px;
overflow-x: auto;
overflow-y: hidden;
animation-name: scrollbarr;
animation-duration: 20s;
animation-timing-function: linear;
animation-iteration-count: infinite;
vertical-align: middle;
}
@keyframes scrollbarr{
0%{
    transform: translate(0%);
}
100%{
    transform: translate(calc(-100% - 712px));
}
}
#scroller-2:hover > img{
animation-play-state: paused;
}
#green-2 > a > button{
width: 80%;
border: 2px solid #126144;
border-radius: 18px;
font-family: "Inter Medium";
font-size: large;
color:#FFFFFF ;
background-color: #1B1B1B;
padding: 13px 28px;
transition: all ease 0.5s;
position: absolute;
bottom: 190px;
left: 50%;
transform: translate(-50%);
cursor: default;
}
#green-2 > a > button:hover{
background-color: #FFFFFF;
color: #1F1F1F;
cursor: pointer;
}
#sec-last{
    width: 100%;
        min-height: 45vh;
        border-top-left-radius:  35px 35px ;
        border-top-right-radius:  35px 35px ;
        background-color: #D7FEC8;
        position: relative;
        bottom: 240px;
        z-index: 1;
}
#sec-last >#sec-last-d > h1{
    width: 50%;
    /* background-color: #6358DE; */
    font-family: "Inter Medium";
    color: #0B996E;
    font-size: xx-large;
    text-align: center;
    font-weight: 600;
    margin: auto;
    margin-top: 50px;
}
#sec-last >#sec-last-d > h4{
    width: 50%;
    /* background-color: #6358DE; */
    color: #1B1B1B;
    font-family: "Inter Medium";
    font-size: large;
    font-weight: 50;
    text-align: center;
    line-height: 25px;
    margin: auto;
    margin-top: -90px;
}
#sec-last > #sec-last-d{
     width: 500px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    /* background-color: red; */
}
#sec-last >#sec-last-d > a > button{
    width: 55%;
    border: 2px solid #126144;
    border-radius: 18px;
    font-family: "Inter Medium";
    font-size: large;
    color:#FFFFFF ;
    background-color: #1B1B1B;
    padding: 13px 28px;
    transition: all ease 0.5s;
    /* margin-top: 10px; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -200%);
    cursor: default;
}
#sec-last >#sec-last-d > a > button:hover{
    background-color: #FFFFFF;
    color: #1F1F1F;
    cursor: pointer;
}
#end{
    margin-top: -240px;
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
#end-head{
    width: 80%;
    height: 15vh;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin: auto;
    border-bottom: 1px solid black;
    position: relative;
}
#end-head > #end-logo{
    height: 50px;
    gap: 50px;
    position: relative;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}
#end-logo > i {
    scale: 2;
    color: #097555;
    cursor: default;
    bottom: 0;
}
#end-logo > i:hover{
    color: #006a43ac;
    cursor: pointer;
}
#end-mid-head{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 100px;
}
#end-mid{
    width: 80%;
    margin-top: 40px;
    height: 100%;
    /* background-color: #1EB9B9; */
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
#end-mid > div{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#end-mid > div > h3{
    font-family: "Inter Medium";
    font-size: large;
    font-weight: lighter;
    padding-bottom: 25px;
}
#end-mid > div > a > h4{
    font-family: "Inter Medium";
    text-decoration: underline #FFFFFF;
    font-size: small;
    font-weight: 10;
    color: #1b1b1bb6;
    padding-bottom: 25px;
    cursor: default;
}
#end-mid > div > a >h4:hover{
    color: #1b1b1b88;
    text-decoration: underline #1b1b1bb6;
    cursor: pointer;
}
#end-line{
    position: relative;
    width: 90%;
    height: 55vh;
    margin: auto;
    /* background-color: blue; */
    border-top: 1px solid black;
}
#end-line > div{
    position: absolute;
    left: 0;
    width: 100%;
    height: 70%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#end-line >div > h4{
    font-family: "Inter Medium";
    font-size: small;
    font-weight: 10;
    color: #1b1b1bd7;
}
#end-line >div > h4:hover{
    color: #1b1b1b88;
    text-decoration: underline #1b1b1bb6;
    cursor: pointer
}
}